src/MetroFire/SampleData/SampleSettingsDataSource/SampleSettingsDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleSettingsDataSource" targetNamespace="Expression.Blend.SampleData.SampleSettingsDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleSettingsDataSource" type="tns:SampleSettingsDataSource" />
  <xs:complexType name="SampleSettingsDataSource">
    <xs:sequence>
      <xs:element name="SettingsViewModels" type="tns:SettingsViewModels" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SettingsViewModels">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="SettingsViewModelsItem" type="tns:SettingsViewModelsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SettingsViewModelsItem">
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute name="Property2" type="xs:boolean" />
  </xs:complexType>
</xs:schema>