src/MetroFire/SampleData/SampleRoomViewModel/SampleRoomViewModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleRoomViewModel" targetNamespace="Expression.Blend.SampleData.SampleRoomViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleRoomViewModel" type="tns:SampleRoomViewModel" />
  <xs:complexType name="SampleRoomViewModel">
    <xs:sequence>
      <xs:element name="Users" type="tns:Users" />
    </xs:sequence>
    <xs:attribute name="UserMessage" type="xs:string" />
    <xs:attribute name="UserEditingMessage" type="xs:boolean" />
    <xs:attribute name="UserEditedMessage" type="xs:string" />
    <xs:attribute name="RoomName" type="xs:string" />
    <xs:attribute name="Topic" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="UsersItem" type="tns:UsersItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UsersItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="IsAdmin" type="xs:boolean" />
  </xs:complexType>
</xs:schema>