src/MetroFire/SampleData/SampleNotificationSettingsViewModel/SampleNotificationSettingsViewModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleNotificationSettingsViewModel" targetNamespace="Expression.Blend.SampleData.SampleNotificationSettingsViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleNotificationSettingsViewModel" type="tns:SampleNotificationSettingsViewModel" />
  <xs:complexType name="SampleNotificationSettingsViewModel">
    <xs:sequence>
      <xs:element name="Notifications" type="tns:Notifications" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Notifications">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="NotificationsItem" type="tns:NotificationsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NotificationsItem">
    <xs:sequence>
      <xs:element name="Triggers" type="tns:Triggers" />
      <xs:element name="Actions" type="tns:Actions" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Triggers">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="TriggersItem" type="tns:TriggersItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TriggersItem">
    <xs:sequence>
      <xs:element name="TriggerTypes" type="tns:TriggerTypes" />
    </xs:sequence>
    <xs:attribute name="DisplayText" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="TriggerTypes">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="TriggerTypesItem" type="tns:TriggerTypesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TriggerTypesItem">
    <xs:attribute name="Text" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Actions">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ActionsItem" type="tns:ActionsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActionsItem">
    <xs:attribute name="DisplayText" type="xs:string" />
  </xs:complexType>
</xs:schema>