src/MetroFire/SampleData/SamplePasteViewModel/SamplePasteViewModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SamplePasteViewModel" targetNamespace="Expression.Blend.SampleData.SamplePasteViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SamplePasteViewModel" type="tns:SamplePasteViewModel" />
  <xs:complexType name="SamplePasteViewModel">
    <xs:attribute name="Caption" type="xs:string" />
    <xs:attribute name="IsUploading" type="xs:boolean" />
    <xs:attribute blend:FormatParameters="2" name="Size" type="xs:long" />
  </xs:complexType>
</xs:schema>