src/MetroFire/SampleData/SampleMainViewModel/SampleMainViewModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleMainViewModel" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleMainViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleMainViewModel" type="tns:SampleMainViewModel" />
  <xs:complexType name="SampleMainViewModel">
    <xs:sequence>
      <xs:element name="CurrentModuleNames" type="tns:CurrentModuleNames" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrentModuleNames">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CurrentModuleNamesItem" type="tns:CurrentModuleNamesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrentModuleNamesItem">
    <xs:attribute name="Value" type="xs:string" />
  </xs:complexType>
</xs:schema>