src/MetroFire/SampleData/SampleMainViewModel/SampleMainViewModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleMainViewModel" targetNamespace="Expression.Blend.SampleData.SampleMainViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleMainViewModel" type="tns:SampleMainViewModel" />
  <xs:complexType name="SampleMainViewModel">
    <xs:sequence>
      <xs:element name="Modules" type="tns:Modules" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Modules">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ModulesItem" type="tns:ModulesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModulesItem">
    <xs:attribute name="Caption" type="xs:string" />
    <xs:attribute name="IsSelected" type="xs:boolean" />
    <xs:attribute name="Notifications" type="xs:string" />
    <xs:attribute name="Closable" type="xs:boolean" />
  </xs:complexType>
</xs:schema>